* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: cadetblue;
}

.title {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 30px;
}

.title h1 {
    margin-bottom: 20px;
}

.pic-div {
    text-align: center;
    margin-bottom: 30px;
}


.pic-1 {
    width: 512px;
    height: auto;
}

.ingredients {
    text-align: center;
    margin-bottom: 20px;
}

.ingredients h2 {
    margin-bottom: 10px;
}

.ingredients p {
    margin-bottom: 40px;
}

ul {
    width: 300px;
    margin: auto;
}

ul li {
    margin-bottom: 10px;
}

.directions {
    width: 220px;
    margin: auto;
    padding: 30px 0px;
}

ol {
    width: 300px;
    margin: auto;
}

ol li {
    padding: 15px;
}

.pic-div2 {
    text-align: center;
}

.pic-2 {
    width: 512px;
    height: auto;
    margin: 50px 0px;
}

.footer {
    text-align: center;
    padding: 30px;
}

button {
    margin: 40px;
    padding: 10px;
    border-radius: 10px;
    background-color: #0000ff;
    color: white;
}

button:hover {
    background-color: red;
    color: black;
    cursor: pointer;
}