* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: honeydew;
}

.title {
    width: 400px;
    margin: 0 auto;
}

.title h1, p {
    margin-bottom: 30px;
}

.pic-div {
    text-align: center;
}

.pic1 {
    width: 350px;
    height: auto;
}

.section {
    display: block;
}
.ingredients {
    display: inline-block;
    padding: 50px;
    width: 400px;
    height: auto;
    margin: 0 200px;
}

.ingredients ul li {
    margin-bottom: 12px;
}

.directions {
    display: inline-block;
    padding: 70px;
    width: 400px;
}

.directions h1 {
    margin-bottom: 15px;
}

.directions ol li {
    margin-bottom: 20px;
}

.footer {
    text-align: center;
}

.footer img {
    width: 512px;
    height: auto;
}

.footer h1 {
    margin: 30px 0;
}

.footer button {
    padding: 15px;
    border-radius: 15px;
    background-color: blue;
    color: white;
    margin-bottom: 50px;
}

.footer button:hover {
    background-color: brown;
    cursor: pointer;
}