* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: aliceblue;
}

.heading {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    margin-bottom: 50px;
}

ul {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

li {
    display: inline-block;
    text-align: center;
    padding: px;
    margin: 30px;

}

img {
    display: block;
    width: 300px;
    height: auto;
}